[tsa]
default_tsa = tsa_config1

[ tsa_config1 ]
# These are used by the TSA reply generation only.
dir     = ./materials      # TSA root directory
#dir     = .      # TSA root directory
serial      = $dir/sample_ts.srl    # The current serial number (mandatory)
crypto_device   = builtin       # OpenSSL engine to use for signing
signer_cert = $dir/sample_ts_cert.pem  # The TSA signing certificate
                    # (optional)
certs       = $dir/sample_ts_root_ca_cert.pem   # Certificate chain to include in reply
                    # (optional)
signer_key  = $dir/sample_ts_pri_key.pem # The TSA private key (optional)
signer_digest  = sha1         # Signing digest to use. (Optional)
default_policy  = 1.2.3.4.1       # Policy if request did not specify it
                    # (optional)
other_policies  = 1.2.3.4.5.6, 1.2.3.4.5.7  # acceptable policies (optional)
digests     = sha1, sha256, sha384, sha512  # Acceptable message digests (mandatory)
accuracy    = secs:1, millisecs:500, microsecs:100  # (optional)
clock_precision_digits  = 0 # number of digits after dot. (optional)
ordering        = yes   # Is ordering defined for timestamps?
                # (optional, default: no)
tsa_name        = yes   # Must the TSA name be included in the reply?
                # (optional, default: no)
ess_cert_id_chain   = no    # Must the ESS cert id chain be included?
                # (optional, default: no)
ess_cert_id_alg     = sha1  # algorithm to compute certificate
                # identifier (optional, default: sha1)
